{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Delete Equipment</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
    <div class="w3-main" style="margin-left:500px;margin-right:450px;">
        <div class="row">
            <div class="col-md-15">
                <div class="card card-body">
                    <h4>Are you sure you want to delete "{{equipment.category}} {{equipment.equipment_id}}"?</h4>
                    <form action="{% url 'FL_deleteequipment' equipment.id %}" method="POST">
                        {% csrf_token %}
                        <a class="btn btn-primary" href="{% url 'FL_equipmentlist' %}">Cancel</a>
                        <input class="btn btn-danger" type="submit" name="Confirm" value="Delete">
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>