
{% extends 'SM_partials/S_base.html' %}

{% load crispy_forms_tags %}

{% block title %}Product Delete{% endblock %}

{% block content %}

<div class="container">
    <div class="row mt-5">
        <div class="col-md-5 offset-md-3">
                <div class="card border border-3 border-dark bg-light shadow p-3 mb-5 bg-white rounded">
                         <form method="POST" class="p-4">
                             {% csrf_token %}
                             {{ form|crispy }}
                            <table class="table table-borderless">
                                <thead>
                                <br/><span class="h4 text-center text-danger">ARE YOU SURE YOU WANT TO DELETE THIS ITEM??</span><hr><br/>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">PRODUCT ID</th>
                                        <td>{{ item.id }}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">PRODUCT </th>
                                        <td>{{ item.Product }}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">UNIT</th>
                                        <td>{{ item.Unit }}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">UNIT PRICE</th>
                                        <td>{{ item.Unit_Price }}</td>
                                    </tr>

                                </tbody>
                            </table>
                           <br/>
                               <div class="row">
                                   <div class="col-6">
                                       <a class="btn btn-secondary col-12" href="{% url 'S_dashboard-Products' %}">Cancel</a>
                                   </div>
                                   <div class="col-6">
                                        <input class="btn btn-danger col-11" type="submit" value="Remove">
                                   </div>
                               </div>
                         </form>
                        </div>
                    </div>
                </div>
</div>




{% endblock %}

