{% extends 'SM_partials/SM_base.html' %}
{% block title %}My orders{% endblock %}

{% block content %}

    <div class="home-content">
      <div class="pagetitle">
                <span class="text"><i class='bx bx-menu'></i>Refunded Items</span>

            </div>
    </div>

    <section class="scroll-card" >

     <main class="col-11 ms-2">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      </div>


        <div class="col-12">
                    <div class="alert alert-secondary border-4 mt-3" role="alert">
                        <form action="" method="get">
                            <div class="row">
                            <div class="col-2">
                                <h4 class="text-dark"><i class='bx bx-filter-alt bx-tada' ></i> FILTER</h4>
                            </div>
                            <div class="col-10">
                                <div class="row">
                                <div class="col-9">
                                <input type="text" class="form-control border-secondary" placeholder="Search" name="search_field">
                                </div>
                                <div class="col-3">
                                <input type="submit" class="btn btn-secondary border-dark" value="Search">
                                </div>
                                </div>
                            </div>
                            </div>
                        </form>
                    </div>
   </div>



    <div class="card-body">
                        <p class="card-text">
                           <div class="alert alert-success border-4 mt-3" role="alert">
                            <div class="table-responsive">
                                  <table class="table table-hover">
                                      <thead>
                                        <tr>
                                          <th scope="col">#</th>
                                          <th scope="col">OrderID</th>
                                          <th scope="col">Item</th>
                                            <th scope="col">Quantity</th>
                                            <th scope="col">Ordered Date</th>
                                            <th scope="col">Send before</th>
                                            <th scope="col">Actions</th>
                                        </tr>
                                      </thead>
                                      <tbody>
                                             {% for order in orders %}
                                                 {% if order.SupplierID == user.supplierinfo %}
                                                         <tr>
                                                             <td>{{ forloop.counter }}</td>
                                                             <td>{{ order.request_ID }}</td>
                                                             <td>{{ order.itemName }}</td>
                                                             <td>{{ order.quantity }}</td>
                                                             <td>{{ order.order.orderedDate }}</td>
                                                             <td>{{ order.due_Date }}</td>

                                                             <td>
                                                                    <a class="btn btn-info me-1" href="{% url 'S_dashboard-MyOrders-View' order.id %}" >
                                                                             View
                                                                    </a>


                                                             </td>
                                                         </tr>
                                                 {% endif %}
                                             {% endfor %}

                                      </tbody>
                                  </table>
                      </div>
                </div>
           </div>

    </main>
</section>

    <center>{% include 'WarehouseManagement/partials/footer.html' %}</center>
{% endblock %}