{% extends 'BatchProductionManagement/common/main.html' %}
{% load static %}

{% block title %}
      ---page path---
{% endblock %}


{% block content %}


    <div class="home-content">
      <i class='bx bx-menu' ></i>
      <span class="text"> Test Page </span>
    </div>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="">Batch Production Manager</a></li>
        <li class="breadcrumb-item active"><a href="">Test Page</a></li>
    </ol>
    <hr class="hr-test">

    <section class="scroll-card" >





        <!--PAGE CONTENT-->
        <h3>Page content</h3>












    </section>




{% endblock content %}






