{% extends 'SM_partials/S_base.html' %}

{% load crispy_forms_tags %}

{% block title %}Invoice info page{% endblock %}

{% block content %}

<div class="row">
    <div class="col-5">
        <div class="container mt-4">
        <div class="col-12 offset-md-1 mt-4">
                <div class="card border border-secondary border-5 bg-light shadow p-3 mb-5 bg-white rounded">

                            <table class="table table-borderless">
                                <thead>
                                <br/><span class="h4 text-center">ORDER INFORMATION</span><hr><br/><br/>

                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">REQUEST ID</th>
                                        <td>{{ order.request_ID }}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">SUPPLIER</th>
                                        <td>{{ order.SupplierID }}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">ITEM</th>
                                        <td>{{ order.itemName }}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">QUANTITY</th>
                                        <td>{{ order.quantity }}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">PRICE</th>
                                        <td>{{ order.invoice.price }}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">DATE</th>
                                        <td>{{ order.date }}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">DUE DATE</th>
                                        <td>{{ order.due_Date }}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">NOTE</th>
                                        <td>{{ order.Note }}</td>
                                    </tr>
                                </tbody>
                            </table>
                           <br/>
                            <div class="col-md-4">
                                click here to download pdf<a href="{{ order.invoice.invoice_pdf.url }}" download="{{ order.invoice.invoice_pdf.url }}"><i class='bx bxs-file-pdf h4' style='color:#bd4f39'  ></i>{{ order.invoice.invoice_pdf.urL }}</a>
                            </div>
                        </div>
                    </div>

        </div>
    </div>
    <div class="col-7">
         <div class="container">
              <div class="mt-5 col-11 offset-md-1">
                <div class="card border border-muted border-5 bg-light shadow p-3 mb-5 bg-white rounded">
                 <span class="h4 text-center">INVOICE</span><hr><br/>
                 <img class="img-thumbnail" src="{{ order.invoice.invoice_image.url }}" alt="Invoice">
                            </div>
                </div>
              </div>
         </div>
    </div>


    <a class="btn btn-success px-5" href="{% url 'SM_dashboard-OrderRequests' %}">
          <i class='bx bxs-share'></i> Back
    </a>

    <br/><br/>

{% endblock %}

