<!--{% load static %}-->
<!--&lt;!&ndash; partial:partials/_sidebar.html &ndash;&gt;-->
<!--<aside class="mdc-drawer mdc-drawer&#45;&#45;dismissible mdc-drawer&#45;&#45;open">-->
<!--    <div class="mdc-drawer__header border-bottom border-light">-->
<!--        <a href="{% url 'home-page' %}" class="brand-logo">-->
<!--            <h3 class="text-center text-light">Glamour Cosmetics</h3>-->
<!--        </a>-->
<!--    </div>-->
<!--    <div class="mdc-drawer__content">-->
<!--        <div class="mdc-list-group">-->
<!--            <nav class="mdc-list mdc-drawer-menu">-->
<!--&lt;!&ndash;                <div class="mdc-list-item mdc-drawer-item">&ndash;&gt;-->
<!--&lt;!&ndash;                    <a class="mdc-drawer-link" href="{% url 'home-page' %}">&ndash;&gt;-->
<!--&lt;!&ndash;                        <i class="material-icons mdc-list-item__start-detail mdc-drawer-item-icon" aria-hidden="true">home</i> Home&ndash;&gt;-->
<!--&lt;!&ndash;                    </a>&ndash;&gt;-->
<!--&lt;!&ndash;                </div>&ndash;&gt;-->

<!--            </nav>-->
<!--        </div>-->
<!--    </div>-->
<!--</aside>-->
<!-- partial-->