    <style>

        a {
            text-decoration: none;
        }
        .counter {
            padding: 10px;
        }

        .wrapper {
            position: relative;
            width: 80vw;
            transform: translate(-50%, -50%);
            top: 80px;
            left: 50%;
            display: flex;
            justify-content: space-around;
            gap: 10px;
        }

        .counter-container {
            width: 35vmin;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            padding: 1em 0;
            position: relative;
            font-size: 16px;
            border-radius: 0.5em;
            background-color: #00004d;
            border-bottom: 10px solid #18f98f;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }

        #i {
            color: #18f98f;
            font-size: 2em;
            text-align: center;
        }

        span.num {
            color: #ffffff;
            display: grid;
            place-items: center;
            font-weight: 600;
            font-size: 2em;
        }

        span.title {
            color: #e0e0e0;
            font-size: 1em;
            text-align: center;
            padding: 0.7em 0;
            font-weight: 400;
            line-height: 0;
        }

        .scroll-card {
            height: calc(100% - 100px);
        }

        @media screen and (max-width: 1024px) {
            .wrapper {
                width: 85vw;
            }

            .counter-container {
                height: 26vmin;
                width: 26vmin;
                font-size: 12px;
            }
        }

        @media screen and (max-width: 768px) {
            .wrapper {
                width: 90vw;
                flex-wrap: wrap;
                gap: 30px;
            }

            .counter-container {
                height: 30vmin;
                width: calc(50% - 40px);
                font-size: 14px;
            }
        }

        @media screen and (max-width: 480px) {
            .wrapper {
                gap: 15px;
            }

            .container {
                height: 25vmin;
                width: 100%;
                font-size: 8px;
            }
        }

    </style>

    <div class="container">
        <div class="counter">
            <div class="wrapper">

                <a href="#">
                    <div class="counter-container">
                        <i class="fa-solid fa-hourglass-start" id="i"></i>
                        <span class="num" data-value={{scheduled}}>00</span>
                        <span class="title">Scheduled</span>
                    </div>
                </a>

                <a href="#">
                    <div class="counter-container">
                        <i class="fa-solid fa-pause" id="i"></i>
                        <span class="num" data-value={{onhold}}>00</span>
                        <span class="title">On Hold</span>
                    </div>
                </a>

                <a href="#">
                    <div class="counter-container">
                        <i class="fa-solid fa-calendar-check" id="i"></i>
                        <span class="num" data-value={{completed}}>00</span>
                        <span class="title">Completed</span>
                    </div>
                </a>

                <a href="#">
                    <div class="counter-container">
                        <i class="fa-solid fa-industry" id="i"></i>
                        <span class="num" data-value={{monthly_total}}>00</span>
                        <span class="title">TOTAL</span>
                    </div>
                </a>

            </div>
        </div>
    </div>
<br>

    <script>
        let valueDisplays = document.querySelectorAll(".num");
        let interval = 500;

        valueDisplays.forEach((valueDisplays) => {
            let startValue = 0;
            let endValue = parseInt(valueDisplays.getAttribute("data-value"));
            let duration = Math.floor(interval / endValue);
            let counter = setInterval(function () {
                startValue += 1;
                valueDisplays.textContent = startValue;
                if (startValue === endValue) {
                    clearInterval(counter);
                }
            }, duration);
        });
    </script>