{% extends 'WarehouseManagement/partials/base.html' %}
{% load static %}

{% block title %}
    Employee Details | Warehouse
{% endblock %}

{% block content %}

    <main id="main" class="main">
        <div class="pagetitle">
            <h1><i class='bx bx-menu'></i> Employee Details</h1>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="">Warehouse</a></li>
                    <li class="breadcrumb-item"><a href="">Employee</a></li>
                    <li class="breadcrumb-item active">Employee Details</li>
                </ol>
            </nav>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-xl-6 offset-xl-3 col-md offset-md-0">
                    <div class="card py-4 mt-3">
                        <h1 class="text-center mb-4 text-uppercase">Employee &nbsp; Details</h1>
                        <div class="row mx-4 my-2">
                            <div class="col-4 fw-bold">
                                Employee ID
                            </div>
                            <div class="col-2">
                                :
                            </div>
                            <div class="col-6">
                                {{ employee.code }}
                            </div>
                        </div>
                        <div class="row mx-4 my-2">
                            <div class="col-4 fw-bold">
                                Employee Name
                            </div>
                            <div class="col-2">
                                :
                            </div>
                            <div class="col-6">
                                {{ employee.firstname }} {{ employee.lastname }}
                            </div>
                        </div>
                        <div class="row mx-4 my-2">
                            <div class="col-4 fw-bold">
                                Email
                            </div>
                            <div class="col-2">
                                :
                            </div>
                            <div class="col-6">
                                {{ employee.email }}
                            </div>
                        </div>
                        <div class="row mx-4 my-2">
                            <div class="col-4 fw-bold">
                                Date of Birth
                            </div>
                            <div class="col-2">
                                :
                            </div>
                            <div class="col-6">
                                {{ employee.dob }}
                            </div>
                        </div>
                        <div class="row mx-4 my-2">
                            <div class="col-4 fw-bold">
                                Address
                            </div>
                            <div class="col-2">
                                :
                            </div>
                            <div class="col-6">
                                {{ employee.address }}
                            </div>
                        </div>
                        <div class="row mx-4 my-2">
                            <div class="col-4 fw-bold">
                                Contact
                            </div>
                            <div class="col-2">
                                :
                            </div>
                            <div class="col-6">
                                {{ employee.contact }}
                            </div>
                        </div>
                        <div class="row mx-4 my-2">
                            <div class="col-4 fw-bold">
                                Gender
                            </div>
                            <div class="col-2">
                                :
                            </div>
                            <div class="col-6">
                                {{ employee.gender }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </main>

    {% include 'WarehouseManagement/partials/footer.html' %}

{% endblock %}