{% extends 'FormulationAndLabManagement/base/base.html' %}
{% load static %}

{% block title %} Product Formulation {% endblock %}

{% block content %}

<div class="home-content">
      <i class='bx bx-menu' ></i>
      <span class="text">Product Formulation</span>
</div>
    <hr class="title-hr">

    <section class="scroll-card" >
    <div class="w3-main" style="margin-left:200px;margin-right:350px;">
        <div class="card shadow border" style="padding: 50px; border-radius: 15px">
        <h2>Formulation of {{product.product_name}} </h2>
        <hr>
        <div class="form-group">
            <form action="" method="POST">
                {% csrf_token %}
                {{ formset.management_form }}
                {% for form in formset %}
                    {{ form }}
                    <hr>
                {% endfor %}
                <div class="w3-container" style="margin-left:150px;margin-right:200px;">
                <input type="submit" name="Add Formulation" class="btn btn-success btn-lg btn-block">
                </div>
            </form>
        </div>
        </div>
    </div>
</section>
{% endblock content %}