{% extends 'CustomerAndSalesManagement/customer_main.html' %}
{% load static %}
{% block content %}

        <div class="col-lg-6 col-xl-6 mx-auto">
            <div class="card flex-row my-5 border-0 shadow rounded-3 overflow-hidden">
              <div class="card-body p-4 p-sm-5">
                <h5 class="card-title text-center mb-5 fw-light fs-5">Password Reset</h5>
                  <p>Enter your email address bellow, and we'll email instructions for setting up a new password.</p>
                <form action="" method="POST">
                    {% csrf_token %}
                  <div class="input-group mb-3">
                      {{ form }}
                  </div>

                  <div class="d-grid mb-2">
                    <input class="btn btn-lg btn-primary fw-bold text-uppercase" value="Reset Password" type="submit" name="Send Email">
                  </div>
                </form>
              </div>

            </div>
          </div>

    <script>
        var form_fields = document.getElementsByTagName('input')

        for (var field in form_fields){
			form_fields[field].className += ' form-control'
		}

    </script>


{% endblock content %}