{% extends 'CustomerAndSalesManagement/customer_main.html' %}
{% load static %}
{% block content %}

        <div class="col-lg-6 col-xl-6 mx-auto">
            <div class="card flex-row my-5 border-0 shadow rounded-3 overflow-hidden">
              <div class="card-body p-4 p-sm-5">
                <h5 class="card-title text-center mb-5 fw-light fs-5">Password reset sent !</h5>

                  <p>We have emailed you the instructions for setting up your password, if an account exists with the email you entered. You should receive them shortly</p>
                  <p>If you don't receive an email, please make sure you have entered the address you registered with, and check your spam folder.</p>
              </div>
            </div>
        </div>

{% endblock content %}