{% extends 'CustomerAndSalesManagement/customer_main.html' %}
{% load static %}
{% block content %}

        <div class="col-lg-6 col-xl-6 mx-auto">
            <div class="card flex-row my-5 border-0 shadow rounded-3 overflow-hidden">
              <div class="card-body p-4 p-sm-5">
                <h5 class="card-title text-center mb-5 fw-light fs-5">Password reset Complete !</h5>
                  <p>Your password has been reset successfully! </p>
                  <p>You may go ahead and login to your account.</p>

                  <a class="btn btn-success" href="{% url 'customer_login' %}">Log in</a>
              </div>
            </div>
        </div>

{% endblock content %}