{% extends 'CustomerAndSalesManagement/sales/sales_base.html' %}
{% load static %}

{% block title %}
      Delete Sales Team
{% endblock %}


{% block content %}


    <div class="home-content">
      <i class='bx bx-menu' ></i>
      <span class="text"> Delete Sales Team </span>
    </div>
    <hr class="title-hr">

    <section class="scroll-card" >
        <div class="row align-items-center">
            <div class="col-6 mx-auto">
                <div class="card shadow border" style="padding: 20px">
                    <div class="text-center">
                        <h4 class="text">Delete Team {{ sales_team.team_name }}</h4>
                    </div>
                    <hr>
                    <br>
                    <p>Are you sure you want to delete this team <strong>{{ sales_team.team_name }}</strong>?</p><br>
                    <hr>
                    <table class="table">
                        <tr>
                            <th>Team ID</th>
                            <td>{{ sales_team.id }}</td>
                        </tr>
                        <tr>
                            <th>Team Name</th>
                            <td>{{ sales_team.team_name }}</td>
                        </tr>
                        <tr>
                            <th>Team Description</th>
                            <td>{{ sales_team.team_description }}</td>
                        </tr>
                        <tr>
                            <th>Team Description</th>
                            <td>{{ sales_team.no_of_employees }}</td>
                        </tr>
                    </table>

                    <form action="{% url 'delete_sales_team' sales_team.id %}" method="POST">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col d-grid">
                                <input class="btn btn-danger" type="submit" name="Confirm" value="Delete">
                            </div>
                            <div class="col d-grid">
                                <a href="{% url 'update_sales_teams' %}" class="btn btn-info ">Cancel</a>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>




{% endblock content %}
