{% extends 'CustomerAndSalesManagement/sales/sales_base.html' %}
{% load static %}

{% block title %}
      ---page path---
{% endblock %}


{% block content %}

     <link rel="stylesheet" href="{% static '/css/sales_product_form_style.css' %}">
    <style>
    	.input-group-text {
			background: #016b4b !important;
			color: white !important;
			border: 0 !important;
            height: 3rem;
            width: 2.5rem;
			border-radius: 0.25rem 0 0 0.25rem !important;
		}
    </style>

    <div class="home-content">
      <i class='bx bx-menu' ></i>
      <span class="text"> Update Product </span>
    </div>
    <hr class="title-hr">
    <section class="scroll-card" style="padding: 10px;">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-8 mx-auto">
                    <div class="card shadow border" style="padding: 20px">
                        <div class="text-center">
                            <h4 class="text">Update Product</h4>
                        </div>
                        <hr>
                        <form class="row g-3" action="" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="input-group mb-3">
                                <div class="input-group-append">
                                    <span class="input-group-text"><i class="fas fa-file"></i></span>
                                </div>
                                {{ form.name }}
                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-append">
                                    <span class="input-group-text"><i class="fas fa-dollar"></i></span>
                                </div>
                                {{ form.selling_price }}
                            </div>
                            {% if form.selling_price.errors %}
                              <div class="alert alert-danger" role="alert">
                                  {{form.selling_price.errors}}
                              </div>
                            {% endif %}
                              <div class="input-group mb-3">
                                <div class="input-group-append">
                                    <span class="input-group-text"><i class="fas fa-dollar"></i></span>
                                </div>
                                {{ form.production_price }}
                            </div>
                            {% if form.production_price.errors %}
                              <div class="alert alert-danger" role="alert">
                                  {{form.production_price.errors}}
                              </div>
                            {% endif %}
                            <div class="input-group mb-3">
                                <div class="input-group-append">
                                    <span class="input-group-text"><i class='fas fa-dollar'></i></span>
                                </div>
                                {{ form.retail_price }}
                            </div>
                             <div class="input-group mb-3">
                                <div class="input-group-append">
                                    <span class="input-group-text"><i class="fas fa-sitemap"></i></span>
                                </div>
                                {{ form.category }}
                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-append">
                                    <span class="input-group-text"><i class="fas fa-align-justify"></i></span>
                                </div>
                                {{ form.description }}
                            </div>
                             <div class="form-control">
                                {{ form.product_image }}
                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-append">
                                    <span class="input-group-text"><i class="fas fa-tags"></i></span>
                                </div>
                                {{ form.tags }}
                            </div>
                            <input type="submit" class="btn btn-success" value="Submit">
                        </form>
                    </div>
                </div>
            </div>
        </div>
     </section>



{% endblock content %}