{% extends 'DeliveryManagement/base/main.html' %}
{% load static %}

{% block title %}
    Delivery | Vehicle Management
{% endblock %}


{% block content %}


    <div class="home-content">
      <i class='bx bx-menu' ></i>
      <span class="text"> Vehicle Management </span>
    </div>
    <hr class="title-hr">

    <section class="scroll-card"><br>

    <section id="hero" class="d-flex align-items-center">



  </section>



    </section>

{% include 'DeliveryManagement/base/footer.html' %}

{% endblock content %}